* {
  margin: 0;
}
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
/* ===========Header Section styles============ */

.header-container {
  width: 1400px;
  background-image: url(images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}
.header-section {
  padding-top: 150px;
  width: 525px;
  height: 500px;
  text-align: right;
  margin-right: 150px;
}
.header-title {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 76px;
  color: #151414;
  margin-bottom: 24px;
  font-family: "Work Sans";
}
.header-description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 32px;
}
.btn-primary {
  width: 160px;
  height: 64px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* ==========main container style=========== */

.main-container {
  width: 1140px;
  height: 100vh;
}

/* ==========My-failure-section======= */
.My-failure-section {
  display: flex;
  width: 1072px;
  justify-content: space-evenly;
  margin: 145px 322px 0px 100px;
  padding-right: 300px;
}
.My-failure-section-img img {
  width: 390px;
  height: 480px;
  padding: 0 80px;
}
.failure-section-container {
  margin-top: 50px;
}
.My-failure-section-title h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}
.title-margin {
  margin-bottom: 24px;
}
.My-failure-section-description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
  width: 416px;
  height: 104px;
}
.check-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.check-list li img {
  width: 25px;
}
.check-list li {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #444343;
  display: flex;
  margin-bottom: 10px;
}

/* ============Community-section========= */
.Community-section {
  width: 1400px;
  height: 100vh;
  background-color: #f3f3f3;
}
.Community-container {
  display: flex;
  width: 80%;
  height: 600px;
  margin: 0 auto;
}
.Community-sub-container {
  margin-top: 150px;
}
.Community-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #151414;
  margin-bottom: 20px;
}
.Community-description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #444343;
  margin-bottom: 16px;
  width: 416px;
  height: 104px;
}
.Community-img img {
  width: 60%;
  margin-left: 200px;
  margin-top: 100px;
}
.btn-new {
  margin-top: 40px;
  width: 200px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/*=============Plans section============ */

.Plans-section {
  width: 100%;
  height: 100vh;
}
.Plans-sub-section {
  width: 900px;
  height: 300px;
  margin: 130px 230px;
}
.Plans-top-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 47px;
  color: #151414;
}
.Plans-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 200px;
}
.Plans-sub-container {
  margin: 10px;
}
.Plans-img img {
  width: 40%;
}

.Plans-title {
  color: #151414;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Plans-description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #737272;
}

/* =========gradient-background======== */
.gradient-background {
  background-image: linear-gradient(
      to left,
      rgba(142, 152, 209, 0.52),
      rgba(162, 24, 128, 0.73)
    ),
    url("images/watch.png");
  width: 70%;
  margin: 0 auto;
  height: 170px;
  background-size: cover;
  color: white;
  padding: 20px;
}
.gradient-title {
  width: 500px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 40px;
}
.btn-success {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #f15b22;
  width: 110px;
  height: 44px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  margin-left: 40px;

  cursor: pointer;
}

/* =========footer Section========= */

.footer-section {
  margin-top: 70px;
  background-color: #1e1e1e;
  height: 500px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
  margin-left: 50px;
}
.footer-title {
  width: 148px;
  height: 53px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-top: 140px;
  margin-bottom: 16px;
}
.footer-description {
  width: 485px;
  height: 78px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form-title {
  width: 123px;
  height: 29px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 25px;
}

input[type="email"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 325px;
  height: 64px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  outline-style: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #151414;
}
input[type="email"]::placeholder {
  color: #ccc;
}

input[type="submit"] {
  width: 160px;
  height: 54px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  border-radius: 7px;
  cursor: pointer;
}
.text {
  margin-bottom: 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-img img {
  margin-left: 13px;
  cursor: pointer;
}
